.main {
    height: 450px;
    // background-image: url('../images/background1.jpeg');
    // background-repeat: no-repeat;
    // background-size: 100% 100%;
    background-color: gray;
}

.instant-calls {
    height: 600px;
    background-color: #A0A0A0;
}

.operator-assist {
    height: 570px;
    background-color: gray;
}

.screen-sharing {
    height: 920px;
    background-color: #A0A0A0;
}

.brands {
    height: 375px;
    background-color: gray;
}

.features {
    height: 1400px;
    background-color: #A0A0A0;
}

.pricing {
    height: 800px;
    background-color: gray;
}

.account-setup {
    height: 250px;
    background-color: #A0A0A0;
}

.footer {
    height: 400px;
    background-color: gray;
}