body {
    font-family: Montserrat;
    font-weight: 200;
}

.container {
    background-color: white;
}

.main {
    height: 450px;
    // background-image: url('../images/background1.jpeg');
    // background-repeat: no-repeat;
    // background-size: 100% 100%;
    background-color: gray;
}

.instant-calls {
    height: 600px;
}

.operator-assist {
    height: 570px;
    background-color: #F9F8FD;
}

.screen-sharing {
    height: 920px;
}

.brands {
    height: 375px;
}

.features {
    height: 1400px;
}

.pricing {
    height: 800px;
    background-color: gray;
}

.account-setup {
    height: 250px;
}

.footer {
    height: 400px;
}