body {
    font-family: Montserrat;
    font-weight: 200;
}

.container {
    background-color: white;
}

.container.main {
    height: 450px;
    background-image: url('../images/fillMurray1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.instant-calls {
    height: 600px;
}

.operator-assist {
    height: 650px;
    background-color: #F9F8FD;
}

.screen-sharing {
    height: 920px;
}

.brands {
    height: 375px;
}

.features {
    height: 1500px;
    background-color: #F9F9F9;
}

.pricing {
    height: 800px;
    background-image: url('../images/fillMurray1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.account-setup {
    height: 250px;
}

.footer {
    height: 400px;
}