.general__header {
    padding-top: 20px;
    height: 50px;
    font-size: 12px;
}

.general__links {
    float: right;
}

.general__link {
    display: inline-block;
    margin-right: 20px;
}

.general__logo-container {
    display: inline-block;
    margin: 0px 20px;
}

.general__phone-container {
    display: inline-block;
}

.main > .general__text-container {
    width: 850px;
    height: 300px;
    margin: auto;
}

.general__button {
    box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.42);
}

.general__description {
    display: inline-block;
    margin-top: 70px;
}

.main > .general__text-container > .circled {
    float: right;
    margin-right: 50px;
    margin-top: 140px;
    padding: 30px;
}

.circled {
    background-color: #0FBAFD;
    border-radius: 100%;
    border-width: 0;
    padding: 20px;
    display: inline-block;
}

.general__text {
    color: white;
}

.title {
    font-size: 45px;
    font-weight: 100;
}

.text {
    margin: 30px 0;
    font-size: 15px;
}

.rounded-rectangle {
    background-color: pink;
    font-size: 12px;
    color: violet;
    border-radius: 20px;
    padding: 10px 30px;
    display: inline-block;
}

.learn-more {
    background-color: white;
    color: #0FBAFD;
}

.instant-calls > .general__image-container {
    height: 450px;
    width: 300px;
    background-image: url('../images/laptop.jpg');
    background-size: 100% 100%;
    display: inline-block;
}

.instant-calls > .general__text-container {
    display: inline-block;
    width: 370px;
    margin: 0 50px 0 70px;
}

.instant-calls > .general__additional-info {
    display: inline-block;
}


