.general__header {
    margin-top: 12px;
}

.general__links {
    float: right;
}

.general__link {
    display: inline-block;
    margin-right: 20px;
}

.general__logo-container {
    display: inline-block;
    margin: 0px 10px;
}

.general__phone-container {
    display: inline-block;
}