//highlight color 88949D

.general__header {
    padding-top: 20px;
    height: 50px;
    font-size: 12px;
    background-color: transparent;
    color: white;
}

.general__links {
    float: right;
    background-color: transparent;
}

.general__link {
    display: inline-block;
    margin-right: 20px;
}

.general__logo-container {
    display: inline-block;
    margin: 0px 20px;
}

.general__phone-container {
    display: inline-block;
}

.main > .general__text-container {
    width: 850px;
    height: 300px;
    margin: auto;
}

.general__description {
    display: inline-block;
    margin-top: 70px;
}

.main > .general__text-container > .circled {
    float: right;
    margin-right: 50px;
    margin-top: 140px;
    padding: 30px;
}

.circled {
    background-color: #00B4DF;
    border-radius: 100%;
    border-width: 0;
    padding: 20px;
    display: inline-block;
}

.general__text {
    color: #829099;
}

.title {
    font-size: 45px;
    font-weight: 100;
    color: #2D3C47;
}

.text {
    margin: 30px 0;
    font-size: 15px;
}

.rounded-rectangle {
    font-size: 12px;
    border-radius: 20px;
    padding: 10px 30px;
    display: inline-block;
}

.general__button.free-trial {
    color: #5E4AA6;
    background-color: #F0EBFD;
    font-weight: 400;
}

.learn-more {
    background-color: white;
    color: #0FBAFD;
    box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.29);
}

.instant-calls > .laptop {
    height: 550px;
    width: 300px;
    background-image: url('../images/laptop.jpg');
    background-size: 100% 100%;
    float: left;
    margin-top: 30px;
}

.instant-calls > .general__text-container {
    width: 370px;
    margin: 70px 50px 0 90px;
    text-align: justify;
    float: left;
}

.instant-calls > .general__additional-info {
    float: left;
    margin-top: 210px;
    width: 220px;
    font-size: 13px;
    padding: 85px 40px 65px 30px;
    line-height: 20px;
    background-color: #E5F8FC;
    height: 130px;
    border-radius: 20px;
}

.general__text-container.behind-image {
    background-color: #E5F8FC;
    color: #00B4E1;
}

.general__text-container > .text {
    line-height: 27px;
    text-align: justify;
    padding-right: 40px;
}

.iphone {
    background-image: url('../images/iphone.png');
    background-size: 100% 100%;
    height: 380px;
    width: 190px;
    background-repeat: no-repeat;
    float: right;
    margin-top: -90px;
    position: absolute;
    margin-left: 860px;
}

.operator-assist > .general__image-container {
    height: 450px;
    width: 450px;
    float: left;
    background-image: url('../images/fillMurray3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    margin-top: 80px;
    margin-left: 90px;
}

.operator-assist > .general__text-container {
    width: 500px;
    float: left;
    margin-top: 120px;
    margin-left: 70px;
}

.operator-assist > .general__text-container > .general__button.circled {
    background-color: #6F61AB;
}

.screen-sharing > .general__text-container {
    margin: 0 auto;
    padding-top: 90px;
    width: 680px;
    text-align: center;
}

.screen-sharing > .general__image-container {
    background-image: url('../images/screen-sharing.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 550px;
    width: 100%;
    margin-top: 10px;
}

.screen-sharing > .general__text-container > .general__button.circled {
    background-color: #FEB858;
}

.brands > .general__text-container {
    margin: 0 auto;
    padding-top: 70px;
    width: 600px;
}

.brands > .general__text-container > .title {
    font-size: 30px;
    text-align: center;
}

.general__brand-logos-container {
    width: 1100px;
    margin: 0 auto;
    margin-top: 75px;
}

.general__brand-logo {
    display: inline-block;
    width: 175px;
    height: 93px;
    background-color: white;
    text-align: center;
}

.general__logo-image {
    margin-left: 10px;
}

.features > .general__content-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
}

.features > .general__content-container > .general__text-container {
    width: 340px;
}

.features > .general__content-container > .general__text-container > .title {
    line-height: 47px;
}

.general__feature-row {
    float: left;    
    margin-right: 70px;
}

.first {
    margin-top: 100px;
}

.middle {
    margin-top: -75px;
}

.last {
    margin-top: -150px;
    margin-right: 0px;
}

.general__feature-card {
    width: 270px;
    height: 340px;
    background-color: #61B947;
    border-radius: 5px;
    margin-bottom: 50px;
    color: white;
}

.general__feature-image {
    width: 100%;
    height: 180px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url('../images/fillMurray2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

.general__feature-text {
    padding: 13px 59px 10px 20px;
    line-height: 28px;
    font-size: 14px;
}

.general__feature-text > .general__feature-quote {
    font-style: italic;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
}

.general__feature-text > .general__feature-quoted-from {
    padding-top: 20px;
}

.quote > .general__feature-image {
    height: 100px;
    background-image: url('../images/fillMurray4.jpg');
    background-repeat: no-repeat;
    background-size: 60% 100%; 
    background-position: center;
}

.quote > .general__feature-text {
    height: fill;
}

.quote {
    background-color: white;
    color: #2D3C47;
}

.general__feature-title {
    font-size: 16px;
    font-weight: 500;
}

.features > .general__content-container > .general__text-container > .general__button.circled {
    background-color: #61B947;
    padding: 15px;
    font-size: 30px;
    color: white;
    font-weight: 600;
}

.pricing > .general__content-container {
    padding-top: 200px;
    padding-left: 300px;
}

.pricing > .general__content-container > * {
    float: left;
}

.pricing > .general__content-container > .general__text-container {
    width: 400px;
    padding-top: 70px;
    padding-left: 100px;
}

.pricing > .general__content-container > .general__text-container > .text {
    width: 300px;
}


.general__price-card {
    float: left;
    height: 300px;
    width: 270px;
}

.general__price-card.main {
    background-color: #00B4DF;
    margin-left: -300px;
}

.general__price-card.secondary {
    margin-top: -20px;
    margin-left: 0px;
    background-color: #8164B0;
}

.general__price-container {
    line-height: 50px;
    padding-left: 55px;
    padding-top: 30px;
}

.general__dola-sign {
    font-size: 35px;
}

.general__price-number {
    font-size: 70px;
}

.general__text.price {
    padding-left: 20px;
    padding-top: 20px;
}

.general__subscription-lenght {
    margin-left: 30px;
    margin-top: -20px;
}

.price-condition {
    font-size: 15px;
    margin-left: 20px;
}

.account-setup > .general__content-container > * {
    float: left;
}

.account-setup > .general__content-container {
    padding-top: 60px;
    padding-left: 150px;
}

.account-setup > .general__content-container > .general__text-container > .text {
    font-size: 28px;
    width: 770px;
    line-height: 40px;
    margin-right: 180px;
    color: #2D3C47;
}

.account-setup > .general__content-container > .general__button {
   margin-top: 60px;
}

.footer > .general__content-container > * {
    float: left;
}

.general__icon-container {
    height: 50px;
    width: 50px;
    background-color: #5E15A2;
    border-radius: 15px; 
}


.general__footer-text {
    font-size: 13px;
    line-height: 28px;
    padding: 0;
}

.general__footer-text.title {
    font-size: 16px;
    font-weight: 500;
}

.general__page-navigation > * {
    float: left;
    width: 260px;
    margin-top: 0;
    margin-right: 40px;
}

.footer > .general__content-container {
    padding-top: 50px;
    margin-left: 150px;
    margin-right: 50px;
}

.general__bottom-content {
    width: 100%;
}

.general__copyright {
    font-size: 10px;
    margin-top: 40px;
}

.general__social-media-icons {
    float: right;
    margin-right: 120px;
    margin-top: -28px;
}

.general__social-media-icons > .circled {
    padding: 14px;
}

.general__social-media-icons > :last-child {
    margin-left: 10px;
}

.underscored {
    text-decoration: underline;
    color: white;
}
.general__text-container >.title {
    padding-top: 15px;
    font-size: 37px;
    text-align: left;
}

.screen-sharing > .general__text-container > .title {
    padding-top: 30px;
}

.screen-sharing > .general__text-container > .general__text {
    text-align: center;
}

.general__text-container {
    font-weight: 300;
}

.main > .general__text-container > .general__description > .general__text {
    color: white;
}

.pricing > .general__content-container > .general__text-container > .general__text{
    color: white;
}

.general__text.price > * { 
    color: white;
}

.general__price-container > * {
    color: white;
}

.general__notice > .text {
    color: white;
}

.general__text.free-trial {
    color: white;
}

.general__button:hover {
    cursor: pointer;
}

.underscored:hover {
    cursor: pointer;
}

.general__header > *:hover {
    cursor: pointer;
}